body {
  padding: 5px;
  font-family: sans-serif;
}

.title {
  padding-top: 5px;
  padding-bottom: 10px;
}

header {
  background-color: darkgray;
  padding: 10px;
  color: darkred;
}

.navMenu .assignments {
  display: flex;
}

.navMenu li {
  display: inline;
  list-style-type: none;
  margin: 0 5px 0 5px;
}

.navMenu a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  color: black;
  background-color: lightgray;
}

.assignments li {
  display: inline;
  list-style-type: none;
}

.assignments a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
  display: inline-block;
  color: black;
  background-color: lightgray;
  width: 120px;
}
.assignments a:hover {
  color: black;
  background-color: rgb(224, 239, 243);
}

.validatorBtn {
  border: 0;
  width: 88px;
  height: 31px;
}

a.disabled {
  pointer-events: none;
}
