body {
  padding: 5px;
  font-family: sans-serif;
}

header {
  background-color: #51789b;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

header > h1 {
  padding-left: 15px;
  padding-right: 15px;
}

.navMenu {
  padding: 0px 10px 0px 10px;
}

.navMenu .assignmentList {
  display: flex;
}

.navMenu li {
  display: inline;
  list-style-type: none;
  margin: 0 5px 0 5px;
}

.navMenu a {
  text-decoration: none;
  border: 1px solid #51789b;
  border-radius: 5px;
  padding: 5px;
  color: #51789b;
  background-color: white;
}

.navMenu a:hover {
  color: white;
  background-color: black;
}
.assignmentList {
  display: block !important;
  padding: 0px 5px 0px 5px;
  margin: 0px;
}

.assignmentList li {
  display: inline-block !important;
}

.assignmentList a {
  text-decoration: none;
  border: 1px solid #51789b;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
  display: inline-flex;
  color: #51789b;
  background-color: white;
  width: 85px;
}
.assignments a:hover {
  color: white;
  background-color: #51789b;
}

.validatorBtn {
  border: 0;
  width: 88px;
  height: 31px;
}

a.disabled {
  pointer-events: none;
  background-color: lightgray;
}

.sectionHeading {
  background-color: #51789b;
  border-radius: 5px;
  padding: 10px;
  color: white;
  margin: 5px;
}

.mainBody {
  background: #f1eded;
  margin-top: 10px;
  border-radius: 5px;
}

.mainBody * {
  display: flex;
}

.profPicture {
  width: 22%;
  display: block;
  padding: 5px;
}
.profPicture > img {
  width: -webkit-fill-available;
  padding: 5px;
}

.assignment {
  width: 78%;
  display: block;
  padding: 5px;
}

.border {
  border: 2px solid white;
}

.assignmentDone {
  color: darkgreen;
  padding-left: 10px;
  font-weight: bold;
}

.assignmentNotDone {
  color: red;
  padding-left: 10px;
  font-weight: bold;
}

.assignmentNotGiven {
  color: yellow;
  padding-left: 10px;
  font-weight: bold;
}

.validators {
  margin: 0px 0px 10px 0px;
  padding: 10px;
}

hr {
  margin: 0px;
}

footer {
  background-color: #51789b;
  color: #f1eded;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.imdbLink {
  color: white;
  text-decoration: none;
  display: contents;
}

.sectionTitle {
  display: block;
  padding: 5px;
}

.sectionTitle > p {
  padding: 5px 5px 5px 10px;
}
.movie,
.emotions {
  width: 16%;
  display: block;
  padding: 5px;
}
.movie > img {
  width: -webkit-fill-available;
  padding: 5px;
}
.emotions > img {
  width: 150px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.movieDescription {
  width: 34%;
  display: block;
  padding: 5px;
}

.movieDescription > p {
  margin: 0px;
  padding: 5px;
}

.fBold {
  font-weight: bold;
}

.fBolder {
  font-weight: bolder;
}

.bgBlack {
  background-color: black !important;
}

.bgGreen {
  background-color: rgb(15, 172, 9) !important;
}

.txtWhite {
  color: white !important;
}

.bgBlue {
  background-color: #51789b !important;
}
.paddingTop5 {
  padding-top: 5px;
}

.paddingBottom5 {
  padding-bottom: 5px;
}

.paddingLeft5 {
  padding-left: 5px;
}

.paddingRigth5 {
  padding-right: 5px;
}

.marginTop5 {
  margin-top: 5px;
}

.marginBottom5 {
  margin-bottom: 5px;
}

.marginLeft5 {
  margin-left: 5px;
}

.marginRigth5 {
  margin-right: 5px;
}

.paddingTop10 {
  padding-top: 10px;
}

.paddingBottom10 {
  padding-bottom: 10px;
}

.paddingLeft10 {
  padding-left: 10px;
}

.paddingRigth10 {
  padding-right: 10px;
}

.marginTop10 {
  margin-top: 10px;
}

.marginBottom10 {
  margin-bottom: 10px;
}

.marginLeft10 {
  margin-left: 10px;
}

.marginRigth10 {
  margin-right: 10px;
}

.paddingTop15 {
  padding-top: 15px;
}

.paddingBottom15 {
  padding-bottom: 15px;
}

.paddingLeft15 {
  padding-left: 15px;
}

.paddingRigth15 {
  padding-right: 15px;
}

.marginTop15 {
  margin-top: 15px;
}

.marginBottom15 {
  margin-bottom: 15px;
}

.marginLeft15 {
  margin-left: 15px;
}

.marginRigth15 {
  margin-right: 15px;
}

dl {
  padding: 10px;
  display: block !important;
  list-style: none;
}
dt {
  font-weight: bold;
}
.dBlock {
  display: block !important;
}

.dFlex {
  display: flex !important;
}

.noLiStyle {
  list-style: none;
}

.courses li {
  display: list-item;
}

.txtCenter {
  text-align: center;
}

.justifyCenter {
  justify-content: center;
}
