body {
    margin: 5px;
    padding: 5px;
}

header {
    background-color: darkgray;
    padding: 10px;
    color: darkred;
}

.navMenu {
    display: flex;
}

.navMenu li {
    display: inline;
    list-style-type: none;
    margin: 0 5px 0 5px;
}

.navMenu a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    color: black;
    background-color: lightgray;
}

.validatorBtn {
    border: 0;
    width: 88px;
    height: 31px;
}